@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts//Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-Bold.woff2") format("woff2"), url("../fonts/CoreSansC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Causten", sans-serif;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}
.header__container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 50px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    gap: 10px;
  }
}
.header__logo {
  z-index: 5;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    transition: left 0.3s;
    padding: 80px 15px 30px 15px;
    background-color: #8a33fd;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: -100%;
    z-index: 2;
    transition: left 0.3s;
    background-color: #fff;
  }
}
.menu__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 8px;
  flex-wrap: wrap;
}
@media (max-width: 1120px) {
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    flex-direction: column;
    text-align: right;
    row-gap: 40px;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    text-decoration-line: underline;
    color: #3c4242;
  }
}
.menu__item--active .menu__link {
  font-weight: 700;
  color: #3c4242;
}
@media (max-width: 991.98px) {
  .menu__item--active .menu__link {
    color: #fff;
    font-size: 38px;
    text-decoration: underline;
  }
}
@media (any-hover: hover) {
  .menu__item--active:hover .menu__link {
    text-decoration-line: none;
  }
}
.menu__link {
  color: #807d7e;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  transition: all 0.3s;
}
@media (max-width: 991.98px) {
  .menu__link {
    color: #fff;
    font-size: 36px;
  }
}

.form {
  flex: 1 1 auto;
  position: relative;
}
@media (min-width: 991.98px) {
  .form {
    max-width: 260px;
  }
}
@media (max-width: 550px) {
  .form {
    display: none;
    opacity: 0;
    overflow: hidden;
  }
}
.form__button {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  position: absolute;
  width: 15px;
  height: 45px;
  top: 0;
  left: 20px;
}
.form__button::before {
  content: "";
  flex: 0 0 15px;
  width: 15px;
  height: 15px;
  background: url("../img/header/icon/search.svg") 0 0/cover no-repeat;
}
.form__input {
  padding: 12px 20px 12px 47px;
  width: 100%;
  border-radius: 8px !important;
  background: rgba(210, 206, 206, 0.8352941176);
  transition: all 0.3s;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .form__input:hover {
    cursor: pointer;
    background: #ececec;
  }
}
.form__input::-moz-placeholder {
  color: #807D7E;
  font-size: 16px;
  font-weight: 400;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form__input::placeholder {
  color: #807D7E;
  font-size: 16px;
  font-weight: 400;
  transition: opacity 0.3s;
}
.form__input:focus::-moz-placeholder {
  opacity: 0;
}
.form__input:focus::placeholder {
  opacity: 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 5;
}
@media (max-width: 479.98px) {
  .actions {
    gap: 8px;
  }
}
.actions__link {
  flex: 0 0 44px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  background: rgba(210, 206, 206, 0.8352941176);
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .actions__link:hover {
    background: #8a33fd;
  }
  .actions__link:hover path {
    stroke: #fff;
  }
}
@media (max-width: 479.98px) {
  .actions__link {
    flex: 0 0 36px;
    height: 36px;
    padding: 8px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    flex: 0 0 44px;
    height: 44px;
    width: 44px;
    position: relative;
    z-index: 5;
    border-radius: 8px;
    background-color: rgba(210, 206, 206, 0.8352941176);
  }
}
@media (max-width: 479.98px) {
  .icon-menu {
    flex: 0 0 36px;
    height: 36px;
    width: 36px;
  }
}
.icon-menu::before, .icon-menu::after, .icon-menu span {
  content: "";
  height: 2px;
  width: 24px;
  position: absolute;
  left: 10px;
  transition: all 0.3s;
  background-color: #807d7e;
}
@media (max-width: 479.98px) {
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    left: 6px;
  }
}
.icon-menu::before {
  top: 12px;
}
@media (max-width: 479.98px) {
  .icon-menu::before {
    top: 8px;
  }
}
.icon-menu::after {
  bottom: 12px;
}
@media (max-width: 479.98px) {
  .icon-menu::after {
    bottom: 8px;
  }
}
.icon-menu span {
  top: 50%;
  margin-top: -1px;
}

.menu-open .icon-menu span {
  transform: scale(0);
}
.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}
.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
.menu-open .menu__body, .menu-open .menu__body::before {
  left: 0;
}

.page {
  display: flex;
  flex-direction: column;
}
.hero {
  min-height: calc(100svh - 100px);
  background-color: #00b5da;
  margin-top: 100px;
  margin-bottom: 130px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 991.98px) {
  .hero {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(61, 67, 67, 0.2509803922);
  }
}
.hero__container {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  color: #fff;
  position: relative;
}
.hero__body {
  font-family: "Core Sans C", sans-serif;
  padding: 130px 85px;
  z-index: 2;
}
.hero__body > * {
  margin-bottom: 40px;
}
.hero__body > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .hero__body {
    padding: 75px 85px;
  }
}
@media (max-width: 479.98px) {
  .hero__body {
    padding: 10px;
  }
  .hero__body > * {
    margin-bottom: 30px;
  }
}
.hero__subtitle {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}
@media (max-width: 479.98px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
.hero__title {
  font-size: 78px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 64px;
  }
}
@media (max-width: 479.98px) {
  .hero__title {
    font-size: 46px;
  }
}
.hero__text {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
}
@media (max-width: 767.98px) {
  .hero__text {
    font-size: 24px;
  }
}
@media (max-width: 479.98px) {
  .hero__text {
    font-size: 18px;
  }
}
.hero__bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 991.98px) {
  .hero__bg-image {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 479.98px) {
  .hero__bg-image {
    -o-object-position: 70%;
       object-position: 70%;
  }
}
.hero__btn-right {
  position: absolute;
  width: 23px;
  height: 44px;
  top: 50%;
  left: 40px;
  transition: all 0.3s linear;
  z-index: 2;
}
@media (any-hover: hover) {
  .hero__btn-right:hover {
    transform: scale(1.1);
  }
}
.hero__btn-right img {
  width: 100%;
  height: 100%;
}
@media (max-width: 479.98px) {
  .hero__btn-right {
    display: none;
  }
}
.hero__btn-left {
  position: absolute;
  width: 23px;
  height: 44px;
  top: 50%;
  right: 40px;
  transform: rotate(-180deg);
  transition: all 0.3s linear;
  z-index: 2;
}
@media (any-hover: hover) {
  .hero__btn-left:hover {
    transform: scale(1.1) rotate(-180deg);
  }
}
.hero__btn-left img {
  width: 100%;
  height: 100%;
}
@media (max-width: 479.98px) {
  .hero__btn-left {
    display: none;
  }
}
.button {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  padding: 16px 72px;
  background: #fff;
  border-radius: 8px;
  transition: background 0.3s linear;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .button:hover {
    background: #8a33fd;
    color: #fff;
  }
}
@media (max-width: 479.98px) {
  .button {
    padding: 10px 20px;
  }
}
.button--small {
  padding: 12px 44px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.pagination {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
  position: absolute;
  width: 200px;
  height: 10px;
  bottom: 50px;
  left: 50%;
  z-index: 50;
}
@media (max-width: 767.98px) {
  .pagination {
    display: none;
  }
}
.pagination__item-right {
  background: #fff;
  opacity: 0.5;
  width: 62px;
  height: 10px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}
.pagination__item-right--active {
  opacity: 1;
}
.pagination__item-left {
  background: #fff;
  border-radius: 0 5px 5px 0;
  width: 62px;
  height: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.sale {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .sale {
    margin-bottom: 75px;
  }
}
@media (max-width: 767.98px) {
  .sale {
    margin-bottom: 50px;
  }
}
.sale__container {
  display: grid;
  -moz-column-gap: 37px;
       column-gap: 37px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
}
@media (max-width: 991.98px) {
  .sale__container {
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 25px;
  }
}
@media (max-width: 479.98px) {
  .sale__container {
    row-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.item-sale {
  position: relative;
  transition: all 0.3s;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
@media (any-hover: hover) {
  .item-sale:hover {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 767.98px) and (max-width: 1100.98px) {
  .item-sale::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(61, 67, 67, 0.2509803922);
  }
}
@media (max-width: 479.98px) {
  .item-sale {
    margin: 0 -15px;
  }
  .item-sale::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(61, 67, 67, 0.2509803922);
  }
}
.item-sale__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00b5da;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 605/356;
}
@media (max-width: 991.98px) {
  .item-sale__image {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 767.98px) {
  .item-sale__image {
    -o-object-position: top;
       object-position: top;
  }
}
.item-sale__body {
  position: relative;
  color: #fff;
  padding: 67px 28px 55px 28px;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .item-sale__body {
    padding: 40px 28px 40px 28px;
  }
}
@media (max-width: 767.98px) {
  .item-sale__body {
    padding: 30px 25px 30px 25px;
  }
}
@media (max-width: 479.98px) {
  .item-sale__body {
    padding: 25px;
  }
}
.item-sale__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 25px;
}
@media (max-width: 479.98px) {
  .item-sale__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.item-sale__title {
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  margin-bottom: 10px;
}
@media (max-width: 479.98px) {
  .item-sale__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.item-sale__discount {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 40px;
}
@media (max-width: 479.98px) {
  .item-sale__discount {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 15px;
  }
}
.item-sale__link {
  position: relative;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}
.item-sale__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s;
  background-color: #fff;
}
@media (any-hover: hover) {
  .item-sale__link:hover::after {
    left: 50%;
    width: 0;
  }
}
@media (max-width: 479.98px) {
  .item-sale__link {
    font-size: 16px;
    line-height: 20px;
  }
}

.arrival {
  margin-bottom: 95px;
}
@media (max-width: 991.98px) {
  .arrival {
    margin-bottom: 75px;
  }
}
@media (max-width: 767.98px) {
  .arrival {
    margin-bottom: 40px;
  }
}
.arrival__items {
  display: grid;
  padding-left: 37px;
  padding-right: 37px;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 38px;
       column-gap: 38px;
  position: relative;
}
@media (max-width: 991.98px) {
  .arrival__items {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .arrival__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .arrival__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 550px) {
  .arrival__items {
    padding: 0;
  }
}
@media (min-width: 550px) {
  .arrival__items::after, .arrival__items::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    background: url("../img/products/arrival/icon/arrow.svg") 0 0 no-repeat;
    cursor: pointer;
  }
  .arrival__items::after {
    left: 0;
  }
  .arrival__items::before {
    right: 0;
    transform: rotate(180deg);
  }
}
.arrival__link-image {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 12px;
  aspect-ratio: 1/1;
  background-color: rgba(210, 206, 206, 0.8352941176);
}
.arrival__link-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .arrival__link-image img:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 991.98px) {
  .arrival__link-image {
    margin-bottom: 15px;
  }
}
.arrival__link {
  color: #3c4242;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  position: relative;
}
.arrival__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s linear;
  background-color: #3c4242;
}
@media (any-hover: hover) {
  .arrival__link:hover::after {
    left: 0;
    width: 100%;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #3c4242;
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px;
  text-transform: capitalize;
  margin-bottom: 70px;
}
.title::before {
  content: "";
  flex: 0 0 auto;
  align-self: flex-start;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8A33FD;
  margin-top: 3px;
}
@media (max-width: 991.98px) {
  .title {
    margin-bottom: 35px;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 26px;
    gap: 10px;
  }
}

.saving {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .saving {
    margin-bottom: 75px;
  }
}
@media (max-width: 767.98px) {
  .saving {
    margin-bottom: 50px;
  }
}
.saving__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
@media (max-width: 991.98px) {
  .saving__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .saving__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.item-saving {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  grid-column: span 2;
  text-align: right;
}
@media (max-width: 991.98px) {
  .item-saving {
    grid-column: span 1;
  }
}
.item-saving--modify {
  text-align: left;
}
@media (max-width: 991.98px) {
  .item-saving--modify:nth-child(2) {
    text-align: right;
  }
}
.item-saving--big {
  grid-column: span 3;
}
@media (max-width: 991.98px) {
  .item-saving--big {
    grid-column: span 1;
  }
}
@media (min-width: 991.98px) {
  .item-saving--modify-bottom {
    text-align: left;
  }
}
.item-saving__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
@media (max-width: 991.98px) {
  .item-saving__image {
    -o-object-position: top;
       object-position: top;
  }
}
.item-saving__body {
  position: relative;
  color: #fff;
  padding: 65px 20px;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .item-saving__body {
    padding: 30px 20px;
  }
}
@media (max-width: 479.98px) {
  .item-saving__body {
    padding: 15px 20px;
  }
}
.item-saving__body--limited {
  padding: 35px 20px;
}
.item-saving__body--second {
  color: #3c4242;
}
@media (min-width: 991.98px) {
  .item-saving__body--bottom {
    padding: 45px 20px 50px 60%;
  }
}
.item-saving__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.item-saving__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.item-saving__discount {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
@media (max-width: 767.98px) {
  .item-saving__discount {
    margin-bottom: 20px;
  }
}
@media (max-width: 479.98px) {
  .item-saving__discount {
    margin-bottom: 15px;
  }
}
.item-saving__link-stock-btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  border-radius: 4px;
  background: #3c4242;
  padding: 10px 16px;
  margin-bottom: 28px;
  color: #fff;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .item-saving__link-stock-btn:hover {
    background-color: #fff;
    color: #3c4242;
  }
}
@media (max-width: 991.98px) {
  .item-saving__link-stock-btn {
    margin-bottom: 15px;
  }
}
@media (max-width: 479.98px) {
  .item-saving__link-stock-btn {
    margin-bottom: 10px;
  }
}
.item-saving__link-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  position: relative;
}
@media (max-width: 767.98px) {
  .item-saving__link-button {
    row-gap: 20px;
  }
}
.item-saving__link-button span {
  font-family: "Causten", sans-serif;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .item-saving__link-button span:hover {
    background-color: #fff;
    color: #3c4242;
  }
}
.item-saving__link-button::before {
  content: "";
  display: flex;
  flex: 0 0 25px;
  width: 23px;
  height: 25px;
  background: url("../img/products/saving/icon/arrow.svg") 0 0/contain no-repeat;
}
.item-saving__link-button--second span {
  border: 1px solid #3c4242;
  color: #3c4242;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .item-saving__link-button--second span:hover {
    background-color: #3c4242;
    color: #fff;
  }
}
.item-saving__link-button--second::before {
  background: url("../img/products/saving/icon/arrow-black.svg") 0 0/contain no-repeat;
}

.fashion {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .fashion {
    margin-bottom: 75px;
  }
}
@media (max-width: 767.98px) {
  .fashion {
    margin-bottom: 40px;
  }
}
.fashion__container {
  display: flex;
}
.fashion__block {
  flex: 1 1 50%;
  position: relative;
  overflow: hidden;
  min-height: 640px;
}
@media (max-width: 991.98px) {
  .fashion__block {
    min-height: 500px;
  }
}
@media (max-width: 767.98px) {
  .fashion__block {
    min-height: 325px;
  }
}
.fashion__block--left {
  border-radius: 12px 0 0 12px;
}
@media (max-width: 767.98px) {
  .fashion__block--left {
    border-radius: 12px;
  }
}
.fashion__block--right {
  border-radius: 0 12px 12px 0;
}
@media (max-width: 767.98px) {
  .fashion__block--right {
    display: none;
  }
}
.fashion__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #8a33fd;
}
.fashion__content {
  color: #fff;
  position: relative;
  padding: 185px 75px 175px 75px;
}
.fashion__content > * {
  margin-bottom: 30px;
}
.fashion__content > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .fashion__content {
    padding: 75px 30px;
  }
}
@media (max-width: 767.98px) {
  .fashion__content {
    padding: 50px 30px;
  }
}
.fashion__title {
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.5;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .fashion__title {
    font-size: 28px;
  }
}
@media (max-width: 479.98px) {
  .fashion__title {
    font-size: 22px;
    line-height: 1.2;
  }
}
.fashion__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 50px;
}
@media (max-width: 479.98px) {
  .fashion__text {
    font-size: 16px;
  }
}
.products {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .products {
    margin-bottom: 75px;
  }
}
@media (max-width: 767.98px) {
  .products {
    margin-bottom: 40px;
  }
}
.products__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 4.5%;
       column-gap: 4.5%;
  row-gap: 50px;
}
@media (max-width: 991.98px) {
  .products__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.98px) {
  .products__body {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}
@media (max-width: 479.98px) {
  .products__body {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}
.item-product {
  position: relative;
}
.item-product__image {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: rgba(210, 206, 206, 0.8352941176);
  aspect-ratio: 270/393;
}
.item-product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .item-product__image img:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 767.98px) {
  .item-product__image img {
    -o-object-position: top;
       object-position: top;
  }
}
@media (max-width: 991.98px) {
  .item-product__image {
    margin-bottom: 15px;
  }
}
@media (max-width: 767.98px) {
  .item-product__image {
    aspect-ratio: 1/1;
  }
}
.item-product__favorite {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.3s linear;
  background: #fff url("../img/products/icon/heart.svg") center/14px no-repeat;
}
@media (any-hover: hover) {
  .item-product__favorite:hover {
    background: #8a33fd url("../img/products/icon/heart_white.svg") center/14px no-repeat;
  }
}
.item-product__body {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.item-product__content {
  flex: 1 1 auto;
}
.item-product__link-title {
  color: #2a2f2f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  position: relative;
}
.item-product__link-title::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s linear;
  background-color: #3c4242;
}
.item-product__link-title--small-size {
  font-size: 16px;
}
@media (any-hover: hover) {
  .item-product__link-title:hover::after {
    left: 0;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .item-product__link-title {
    font-size: 20px;
  }
}
.item-product__text {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.item-product__price {
  align-self: center;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  background-color: #f6f6f6;
}
.item-product__link {
  align-self: center;
  min-height: 40px;
  flex: 0 0 20px;
  background: url("../img/products/icon/arrow_product.svg") center no-repeat;
  transition: transform 0.3s;
}
@media (any-hover: hover) {
  .item-product__link:hover {
    transform: scale(1.2);
  }
}

.brands {
  margin-bottom: 75px;
}
.brands__container {
  text-align: center;
  background-color: #323232;
  border-radius: 12px;
  background: rgb(60, 66, 66);
  color: #fff;
  padding: 40px 120px 60px 120px;
}
@media (max-width: 991.98px) {
  .brands__container {
    padding: 40px 100px 60px 100px;
  }
}
@media (max-width: 767.98px) {
  .brands__container {
    padding: 40px 50px 60px 50px;
  }
}
@media (max-width: 479.98px) {
  .brands__container {
    padding: 30px;
  }
}
.brands__title {
  font-family: "Core Sans C", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 49px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .brands__title {
    font-size: 42px;
  }
}
@media (max-width: 479.98px) {
  .brands__title {
    font-size: 28px;
    margin-bottom: 15px;
  }
}
.brands__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 65px;
}
.brands__text span {
  color: #fbd103;
}
@media (max-width: 991.98px) {
  .brands__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 479.98px) {
  .brands__text {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
}
@media (max-width: 479.98px) {
  .brands__list {
    gap: 15px;
  }
}
.brands__item {
  flex: 0 1 177px;
}
.brands__link {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgba(210, 206, 206, 0.8352941176);
  aspect-ratio: 177/85;
  transition: all 0.3s linear;
}
.brands__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .brands__link:hover {
    transform: scale(1.1);
  }
}

.feedback {
  margin-bottom: 130px;
}
@media (max-width: 991.98px) {
  .feedback {
    margin-bottom: 75px;
  }
}
@media (max-width: 767.98px) {
  .feedback {
    margin-bottom: 40px;
  }
}
.feedback__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .feedback__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .feedback__body {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }
}
.feedback__pagination {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  justify-content: center;
}
.feedback__button {
  flex: 0 0 7px;
  width: 7px;
  height: 7px;
  background-color: #3c4242;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .feedback__button:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
.feedback__button--active {
  opacity: 1;
}

.item-feedback {
  border: 1.8px solid #bebcbd;
  border-radius: 10px;
  padding: 24px;
}
.item-feedback__head {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: flex-start;
}
.item-feedback__image {
  flex: 0 0 57px;
  width: 57px;
  height: 57px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  background-color: rgba(210, 206, 206, 0.8352941176);
}
.item-feedback__list-rating {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.item-feedback__item-rating {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  background: url("../img/icon/star.svg") center/20px no-repeat;
  transition: all 0.2s linear;
}
@media (any-hover: hover) {
  .item-feedback__item-rating:hover {
    transform: scale(1.1);
  }
}
.item-feedback__item-rating--half {
  background: url("../img/icon/star_half.svg") center/20px no-repeat;
}
.item-feedback__item-rating--empty {
  background: url("../img/icon/star_empty.svg") center/20px no-repeat;
}
.item-feedback__title {
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.item-feedback__text {
  color: #807d7e;
  font-size: 14px;
  line-height: 1.2;
}

.footer {
  background-color: #3c4242;
  color: #f6f6f6;
  padding: 60px 0;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 479.98px) {
  .footer {
    padding: 15px 0;
  }
}
@media (max-width: 991.98px) {
  .footer__container {
    padding: 15px;
  }
}
.footer__menu {
  padding: 0px 90px;
}
@media (max-width: 991.98px) {
  .footer__menu {
    padding: 15px;
  }
}
.footer__social {
  padding: 0px 90px;
}
@media (max-width: 991.98px) {
  .footer__social {
    padding: 15px;
  }
}
.footer__categories {
  padding: 30px 0px;
  border-top: 1px solid rgba(190, 188, 189, 0.4);
  border-bottom: 1px solid rgba(190, 188, 189, 0.4);
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .footer__categories {
    padding: 15px 0px;
    margin-bottom: 30px;
  }
}
.footer__title-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 30px 0 90px;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .footer__title-categories {
    padding: 15px;
  }
}
.footer__title-categories::after {
  content: "";
  flex: 0 0 20px;
  width: 20px;
  height: 12px;
  background: url("../img/icon/footer/arrow-foter.svg") 0 0/contain no-repeat;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .footer__title-categories:hover::after {
    transform: rotate(-180deg);
  }
}
.footer__copyright {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.menu-footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .menu-footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 479.98px) {
  .menu-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 991.98px) {
  .menu-footer__column:nth-child(4) {
    grid-column: span 3;
  }
}
@media (max-width: 479.98px) {
  .menu-footer__column:nth-child(4) {
    grid-column: span 1;
  }
}
.menu-footer__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 2.1;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .menu-footer__title {
    line-height: 1;
  }
}
.menu-footer__link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.1;
  transition: all 0.3s;
}
.menu-footer__link::after, .menu-footer__link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 1px;
  transition: all 0.3s ease 0s;
  background-color: rgb(255, 255, 255);
}
.menu-footer__link::after {
  right: 50%;
}
.menu-footer__link::before {
  left: 50%;
}
@media (any-hover: hover) {
  .menu-footer__link:hover::after {
    width: 50%;
  }
  .menu-footer__link:hover::before {
    width: 50%;
  }
}

.social {
  margin-bottom: 40px;
}
@media (max-width: 479.98px) {
  .social {
    margin-bottom: 15px;
  }
}
.social__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}
.social__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: capitalize;
}
@media (max-width: 479.98px) {
  .social__title {
    margin-bottom: 20px;
  }
}
.social__list {
  display: flex;
  gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 10px;
  background: #f6f6f6;
  transition: all 0.3s linear;
}
@media (any-hover: hover) {
  .social__link:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  }
}
.social__list-app {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.social__link-app {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  transition: all 0.3s linear;
  overflow: hidden;
}
@media (any-hover: hover) {
  .social__link-app:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  }
}
.social__link-app img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}