/* Підключення вручну */
@font-face {
	font-family: "Montserrat";
	src:
		url("../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src:
		url("../fonts/Montserrat-Medium.woff2") format("woff2"),
		url("../fonts/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src:
		url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src:
		url("../fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FrankRuhlLibre";
	src:
		url("../fonts/FrankRuhlLibre-Bold.woff2") format("woff2"),
		url("../fonts/FrankRuhlLibre-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FrankRuhlLibre";
	src:
		url("../fonts/FrankRuhlLibret-ExtraBold.woff2") format("woff2"),
		url("../fonts/FrankRuhlLibre-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FrankRuhlLibre";
	src:
		url("../fonts/FrankRuhlLibre-Black.woff2") format("woff2"),
		url("../fonts/FrankRuhlLibre-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Beermoney";
	src:
		url("../fonts/beermoney.woff2") format("woff2"),
		url("../fonts/beermoney.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}